/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {

   font-family: Helvetica;
 }

 .title {
  margin: 16px;
 }

 .blocks {
  padding: 8px;
  margin: 16px;
  width:50px;
  border: solid;
  background-color: #DFFEE1;
  box-shadow:  3px 3px 3px #888888;
  font-size: 25px;
 }

 .words {
  display: flex;
  text-align: center;
 }

 .form input {
  width: 450px;
  margin-right: 8px;
 }

 .form {
  margin: 16px;
 }

 h4 {
  margin: 16px;
 }

 .result {
  margin: 16px;
 }
